name: Check code quality

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-code-quality:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10

    strategy:
      matrix:
        node-version:
          - 20.x
          - 22.x

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - name: Run tests with ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: npm install
        run: npm ci --no-audit --no-fund

      - name: validate renovate config
        run: npx --package renovate -c 'renovate-config-validator'

      - name: lint
        run: npm run lint
